/*Estilo actividades*/
.actividades1{
    background-image: url(../assets/img/feriadellibro.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 30px;
    margin: 50px;
    border-radius: 5px;
    p{
        text-align: left;
        background-color: $blancofuerte;
        padding: 1rem 2rem 1rem 2rem;
        color: rgb(78, 78, 78);
    }
    h2{
        background-color: $blancofuerte;
        color: $azul;
        text-align: left;
        padding: 0rem 0rem 0rem 2rem;
    }
}
.actividades2{
    background-image: url(../assets/img/maraton.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 30px;
    margin: 50px;
    border-radius: 5px;
    p{
        text-align: left;
        background-color: $blancofuerte;
        padding: 1rem 2rem 1rem 2rem;
        color: rgb(78, 78, 78);
    }
    h2{
        background-color: $blancofuerte;
        color: $azul;
        text-align: left;
        padding: 0rem 0rem 0rem 2rem;
    }
}
.actividades3{
    background-image: url(../assets/img/emprendedores.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 30px;
    margin: 50px;
    border-radius: 5px;
    p{
        text-align: left;
        background-color: $blancofuerte;
        padding: 1rem 2rem 1rem 2rem;
        color: rgb(78, 78, 78);
    }
    h2{
        background-color: $blancofuerte;
        color: $azul;
        text-align: left;
        padding: 0rem 0rem 0rem 2rem;
    }
}
.colaboran{
    background-color: $blanco;
    border-radius: 10px;
    margin: 0% 5% 0% 5%;
    .colaboradores{
        img{
            width: 90%;
            margin: 0% 5% 20% 5%;
        }
    }
}