/*Estilo footer*/ 
footer{
    margin: 5% 0% 0% 0%;
    height: 80px;
    background-color: #1045a8d0;
    p{
        font-size: 10px;
        text-align: center;
    }
    .logos{
        height: 40px;
        padding: 5px;
        transition: 1s;
        &:hover{
            transform: rotatez(360deg)
        }
    }
    .isoP{
        height: 80px;
        padding: 15px;
        transition: 2s;
        &:hover{
            transform: scale(1.2, 1.2)
        }
    }
}