<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Voluntarios de Puentes del Alma que asisten escuelas puestos sanitarios y comedores de frontera">
    <meta name="keywords" content="puentes,alma,ong, voluntarios, comedor, puesto sanitario, escuela">
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/nuevoestilo.css">
    <link rel="icon" href="../assets/img/icon.png">
    <title>Puentes del Alma - Quiénes somos?</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg"  style="background-color: #fffdf5ad;">
            <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
              <a class="navbar-brand  animate__animated animate__bounceIn" href="../index.html"><img class="logo1" src="../assets/img/LogoPDA.png" alt="Logo Puentes"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nosotros
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../views/quienessomos.html">Quiénes somos?</a></li>
                            <li><a class="dropdown-item" href="../views/proyectos.html">Proyectos</a></li>
                            </ul>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/actividades.html">Actividades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contacto.html">Contacto</a>
                    </li>
                    </ul>
                </div>
            </div>
          </nav>
    </header>
    <main>
        <section>
            <div class="boxblanco">
                <h1>¿Quiénes somos?</h1>
                <p class="px-5 text-center"">
                    Nuestro <strong>orgullo es el equipo que hemos conformado a través de los años</strong>, tanto nuestro equipo de voluntarios, como los profesores, niños y enfermeros de las escuelas. Somos un grupo de personas que tiran hacia el mismo lado.
                </p>
                <div class="container">
                        <div class="row boxblanco">
                            <div class="col-xs-12 col-md-6">
                                <img src="../assets/img/mision.jpg" alt="mision" class="quienessomos rounded"></div>
                            <div class="col-xs-12 col-md-6">
                                <h3>Nuestra Misión</h3>
                                <p>
                                    Nuestra misión es apoyar a personas en situación de vulnerabilidad y exclusión social en sus estudios, principalmente a través del aprendizaje de idiomas. Actualmente impulsamos programas académicos con clases online enfocadas, por un lado, a que nuestros estudiantes adquirieran un buen nivel oral y escrito del idioma local que les permita desenvolverse con soltura en su día a día.
                                </p>
                            </div>
                        </div>
                </div>
                <div class="container">     
                    <div class="row boxblanco">
                        <div class="col-xs-12 col-md-6">
                                <h3>Nuestra Visión</h3>
                                <p>
                                    A pesar de que la educación es un derecho humano reconocido en la Declaración Universal de los Derechos Humanos (1948), el Estatuto de los Refugiados (1951) y la Convención sobre los Derechos del Niño (1989), en pleno siglo XXI sigue sin estar garantizado. La prueba más palpable de que vivimos en una sociedad marcada por la desigualdad es que solo el 24% de los niños tienen esta oportunidad.
                                </p>
                        </div>
                            <div class="col-xs-12 col-md-6">
                                <img src="../assets/img/vision.jpg" alt="vision" class="quienessomos rounded">
                            </div>
                    </div>
                </div>
            </div>
        </section>
            <div class="voluntaries">
                <h2>Voluntarias</h2>
                    <div class="container voluntarios">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <div class="voluntaria1">
                                    <img src="../assets/img/voluntaria1.jpg" alt="voluntaria1" class="voluntario rounded">
                                    <h3>Flora</h3>
                                    <p class="text-center">
                                        Hace más de 10 años que soy parte de Puentes. Mi rol dentro de la ONG es preparar las bolsas de ropa y comida que se le envía por año a cada uno de los niños y familias que atendemos. Cada sonrisa de un niño que veo, merece mi trabajo.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="voluntaria2">
                                    <img src="../assets/img/voluntaria2.jpeg" alt="voluntaria2" class="voluntario rounded">
                                    <h3>Juliana</h3>
                                    <p class="text-center">
                                        Como presindenta de la ONG me encargo del contacto con los maestros responsables de cada escuela, puesto y comedor. Es reconfortante saber la importancia de nuestros actos y las repercusuiones que tiene en cada vida de nuestros niños.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="voluntaria3">
                                    <img src="../assets/img/voluntaria3.jpg" alt="voluntaria3" class="voluntario rounded">
                                    <h3>Patricia</h3>
                                    <p class="text-center">
                                        Siendo este mi decimo año dentro de Puentes, me parece una locura ver los niños que ayudamos en el primer viaje, estén comenzando una carrera en Jujuy Capital o Salta. Es así donde uno ve que nuestro accionar, funciona y deja huellas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                        </divc>
                    </div>
                </div>
            </div>
    </main>
    <footer>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-4 footerlogos">
                    <a href="https://es-la.facebook.com/puentesdelalma/" target="_blank"><img src="../assets/img/logoFacebook.jpg" alt="logoFacebook" class="logos"></a>
                    <a href="https://www.instagram.com/puentesdelalma/" target="_blank"><img src="../assets/img/logoInstagram.png" alt="logoInstagram" class="logos"></a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <p class="text-white">
                        Todos los derechos reservados©
                    </p>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <a href="#top">
                        <img src="../assets/img/isotipoPuentes.png" alt="isotipoPuentes" class="isoP">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>